{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Service Request</title>
</head>
<body>
    {% block content %}
    <h1>Submit Service Request</h1>
    <form method="post">
        {% csrf_token %}
        <label for="id_request_type">Request Type:</label><br>
        <select name="request_type" id="id_request_type">
            <option value="Gas Leak">Gas Leak</option>
            <option value="Meter Reading">Meter Reading</option>
            
            <!-- Add more options as needed -->
        </select><br>
        <label for="id_details">Details:</label><br>
        <textarea name="details" id="id_details" cols="30" rows="10"></textarea><br>
        <button type="submit">Submit Request</button>
        <a href="{% url 'request_tracking' %}">Request Tracking</a>
    </form>
    {% endblock content %}
    <!--<p><a href="{% url 'request_tracking' %}">Request Tracking</a></p> -->
</body>
</html>
